---
import Link from "@zlliang/theme/components/Link.astro"
import PageTitle from "@zlliang/theme/components/PageTitle.astro"
import Layout from "@/components/Layout.astro"

import { getNotes } from "@/utils/content"
import { types } from "@/utils/types"

const notes = await getNotes()
const title = "Note Types"
---

<Layout title={title}>
  {/* Title */}
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">{types.length} total</span>
  </PageTitle>

  {/* Types */}
  {types?.length > 0 ? (
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {types.map((type) => (
        <Link
          href={`/notes/types/${type.slug}`}
          class="secondary group block px-4 py-3 border border-neutral-200 dark:border-neutral-800 hover:border-primary-400 dark:hover:border-primary-600 hover:bg-primary-50 dark:hover:bg-primary-950"
        >
          <div class="flex items-start justify-between gap-4">
            <div class="font-bold">{type.display}</div>
            <div class="shrink-0 text-sm text-neutral-500 group-hover:text-primary-400 dark:group-hover:text-primary-600">
              {notes.filter((note) => note.data.type === type.slug).length} total
            </div>
          </div>
          <div class="mt-2 text-sm text-neutral-500 group-hover:text-primary-400 dark:group-hover:text-primary-600">
            {type.description}
          </div>
        </Link>
      ))}
    </div>
  ) : <p class="text-neutral-500">No types found.</p>}
</Layout>
