---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import NoteList from "@/components/NoteList.astro"

import { notes, categories, getCategoryDisplay } from "@/utils/content"

import type { GetStaticPaths } from "astro"

export const getStaticPaths = (async () => categories.map(category => ({
  params: { category },
  props: { category, filterdNotes: notes.filter(note => note.data.category === category) },
}))) satisfies GetStaticPaths

const { category, filterdNotes } = Astro.props

const title = `${getCategoryDisplay(category)} Notes`
---

<Layout title={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <Fragment slot="subtitle">
      <span>{filterdNotes.length}</span>
      <span>{filterdNotes.length >= 2 ? "notes" : "note"} in total</span>
    </Fragment>
  </PageTitle>

  <!-- Notes -->
  <NoteList notes={filterdNotes} />
</Layout>
