---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import Link from "@/components/Link.astro"

import { notes, categories, getCategoryDisplay } from "@/utils/content"

const title = "Note Categories"

function getCategoryCount(slug: string) {
  return notes.filter(note => note.data.category === slug).length
}
---

<Layout title={title} description={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">{categories.length} in total</span>
  </PageTitle>

  <!-- Categories -->
  {categories.map(category => (
    <div class="mb-1">
      <Link href={`/notes/categories/${category}`}>{getCategoryDisplay(category)} ({getCategoryCount(category)})</Link>
    </div>
  ))}
</Layout>
