---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import Link from "@/components/Link.astro"

import { notes, categories, getCategoryDisplay } from "@/utils/content"

const title = "手记分类"

function getCategoryCount(slug: string) {
  return notes.filter((note) => note.data.category === slug).length
}
---

<Layout title={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">共 {categories.length} 个</span>
  </PageTitle>

  <!-- Categories -->
  {categories?.length > 0 ? categories.map((category) => (
    <div class="mb-1">
      <Link href={`/notes/categories/${category}`}>{getCategoryDisplay(category)} ({getCategoryCount(category)})</Link>
    </div>
  )) : <p class="text-neutral-500">暂无分类。</p>}
</Layout>
