---
import { getEntry } from "astro:content"
import { format } from "date-fns"

import Layout from "@/components/Layout.astro"
import NoteItem from "@/components/NoteItem.astro"
import Link from "@/components/Link.astro"

import { notes } from "@/utils/content"
import { cn } from "@/utils/style"

import type { GetStaticPaths, InferGetStaticPropsType } from "astro"

export const getStaticPaths = (async () => {
  const length = notes.length

  return notes.map((note, index) => {
    const next = index > 0 ? notes[index - 1] : null
    const previous = index < length - 1 ? notes[index + 1] : null

    return {
      params: { slug: note.id },
      props: { note, next, previous },
    }
  })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { note, next, previous } = Astro.props
const post = note.data.post ? await getEntry(note.data.post) : null

const title = [note.data.title || post?.data.title, `Note #${note.data.no}`].filter(Boolean).join(" - ")
---

<Layout title={title}>
  <!-- Content -->
  <NoteItem note={note} showLink={false} />

  <!-- Links to next and previous notes -->
  {(next || previous) && (
    <div class="grid grid-cols-2 mt-16">
      {next && (
        <div class={cn("col-start-1 pr-4 text-neutral-500", !previous && "border-r border-neutral-200 dark:border-neutral-800")} >
          <div class="text-sm mb-0.5">Next</div>
          <Link href={`/notes/${next.id}`} class="block mb-0.5">{next.data.title || "Untitled note"}</Link>
          <div class="text-sm">
            <span>{format(next.data.created, "PP")}</span><span class="icon-[lucide--dot]" /><span>#{next.data.no}</span>
          </div>
        </div>
      )}
      {previous && (
        <div class="col-start-2 pl-4 border-l border-neutral-200 dark:border-neutral-800 text-right text-neutral-500">
          <div class="text-sm mb-0.5">Previous</div>
          <Link href={`/notes/${previous.id}`} class="block mb-0.5">{previous.data.title || "Untitled note"}</Link>
          <div class="text-sm">
            <span>#{previous.data.no}</span><span class="icon-[lucide--dot]" /><span>{format(previous.data.created, "PP")}</span>
          </div>
        </div>
      )}
    </div>
  )}
</Layout>
