---
import { getEntry } from "astro:content"
import { format } from "date-fns"

import Layout from "@/components/Layout.astro"
import NoteItem from "@/components/NoteItem.astro"
import Section from "@/components/Section.astro"
import Link from "@/components/Link.astro"

import { getNotes } from "@/content"

import type { GetStaticPaths, InferGetStaticPropsType } from "astro"

export const getStaticPaths = (async () => {
  const notes = await getNotes()
  const length = notes.length

  return notes.map((note, index) => {
    const next = index > 0 ? notes[index - 1] : null
    const previous = index < length - 1 ? notes[index + 1] : null

    return {
      params: { slug: note.id },
      props: { note, next, previous },
    }
  })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { note, next, previous } = Astro.props
const post = note.data.post ? await getEntry(note.data.post) : null

const title = [note.data.title || post?.data.title, `Note #${note.data.no}`].filter(Boolean).join(" - ")
---

<Layout title={title}>
  <!-- Content -->
  <NoteItem note={note} showLink={false} />

  <!-- Links to next and previous notes -->
  {(next || previous) && (
    <Fragment slot="aside-prefix">
      {next && (
        <Section>
          <span slot="title">Next note <span class="icon-[lucide--arrow-up]" /></span>
          <div class="mb-0.5">
            <Link href={`/notes/${next.id}`}>{next.data.title}</Link>
          </div>
          <div class="text-sm text-neutral-500">
            <span>{format(next.data.created, "PP")}</span>
            {next.data.draft && <span class="ml-1 text-amber-600 dark:text-amber-400">Draft</span>}
          </div>
        </Section>
      )}
      {previous && (
        <Section>
          <span slot="title">Previous note <span class="icon-[lucide--arrow-down]" /></span>
          <div class="mb-0.5">
            <Link href={`/notes/${previous.id}`}>{previous.data.title}</Link>
          </div>
          <div class="text-sm text-neutral-500">
            <span>{format(previous.data.created, "PP")}</span>
            {previous.data.draft && <span class="ml-1 text-amber-600 dark:text-amber-400">Draft</span>}
          </div>
        </Section>
      )}
    </Fragment>
  )}
</Layout>
