---
import { render } from "astro:content"

import DraftTag from "@/components/DraftTag.astro"
import Layout from "@/components/Layout.astro"
import Link from "@/components/Link.astro"
import PageTitle from "@/components/PageTitle.astro"
import Tag from "@/components/Tag.astro"

import { getPosts } from "@/content"
import { format } from "@/utils/date"

import type { GetStaticPaths, InferGetStaticPropsType } from "astro"

export const getStaticPaths = (async () => {
  const posts = await getPosts()
  const length = posts.length

  return posts.map((post, index) => {
    const next = index > 0 ? posts[index - 1] : null
    const previous = index < length - 1 ? posts[index + 1] : null

    return {
      params: { slug: post.id },
      props: { post, next, previous },
    }
  })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { post, next, previous } = Astro.props
const { Content } = await render(post)
---

<Layout title={post.data.title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{post.data.title}</Fragment>
    <span slot="subtitle" class="flex flex-wrap gap-2">
      <div>
        <span>{format(post.data.created, "PP")}</span>
      </div>
      {post.data.tags?.map(tag => (
        <Tag href={`/posts/tags/${tag}`}>{tag}</Tag>
      ))}
      {post.data.draft && <DraftTag />}
    </span>
  </PageTitle>

  <!-- Content -->
  <Content />

  <!-- Links to next and previous posts -->
  {(next || previous) && (
    <div class="grid grid-cols-2 mt-16">
      {next && (
        <div class:list={["col-start-1 pr-4 text-neutral-500", !previous && "border-r border-neutral-200"]}>
          <div class="text-sm">
            <span>下一篇</span><span class="i-lucide-dot" /><span>{format(next.data.created, "PP")}</span>
          </div>
          <Link href={`/posts/${next.id}`} class="block mt-1">
            {next.data.title}
          </Link>
        </div>
      )}
      {previous && (
        <div class="col-start-2 pl-4 border-l border-neutral-200 text-right text-neutral-500">
          <div class="text-sm">
            <span>{format(previous.data.created, "PP")}</span><span class="i-lucide-dot" /><span>上一篇</span>
          </div>
          <Link href={`/posts/${previous.id}`} class="block mt-1">
            {previous.data.title}
          </Link>
        </div>
      )}
    </div>
  )}
</Layout>
