---
import Layout from "@/components/Layout.astro"

const src = Astro.url.searchParams.get("src")
if (!src) {
  return Astro.rewrite("/404")
}

const caption = Astro.url.searchParams.get("caption")
const title = caption ? `图片：${caption}` : `图片`
const rawFrom = Astro.url.searchParams.get("from")
const from = rawFrom?.startsWith("/") ? rawFrom : null
---

<Layout title={title} aside={false} noindex>
  <img src={src} alt={caption} />
  <div class="flex justify-between gap-6 mt-4">
    {Boolean(caption) && <div class="text-neutral-500">{caption}</div>}
    {Boolean(from) && (
      <a id="back" href={from} class="shrink-0">
        <span class="icon-[lucide--arrow-left]" /> 返回
      </a>
    )}
  </div>
</Layout>

<script>
  document.getElementById("back")?.addEventListener("click", (event) => {
    if (new URL(document.referrer).origin === location.origin) {
      event.preventDefault()
      history.back()
    }
  })
</script>
