---
import { render } from "astro:content"

import DraftTag from "@/components/DraftTag.astro"
import Layout from "@/components/Layout.astro"
import Link from "@/components/Link.astro"
import PageTitle from "@/components/PageTitle.astro"
import Tag from "@/components/Tag.astro"

import { getEntries } from "@/content"
import { format } from "@/utils/date"

import type { GetStaticPaths, InferGetStaticPropsType } from "astro"
import type { CollectionEntry } from "astro:content"

export const getStaticPaths = (async () => {
  const entries = await getEntries()
  const length = entries.length

  return entries.map((entry, index) => {
    const next = index > 0 ? entries[index - 1] : null
    const previous = index < length - 1 ? entries[index + 1] : null

    return {
      params: { slug: entry.id },
      props: { entry, next, previous },
    }
  })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

function getDescription(entry: CollectionEntry<"entries">) {
  if (entry.data.description) return entry.data.description

  return `${entry.data.type === "note" ? "Note" : "Post"} #${entry.data.no} on ${format(entry.data.created, "PP")}`
}

const { entry, next, previous } = Astro.props
const { Content } = await render(entry)

const title = `${entry.data.title} - #${entry.data.no}`
const description = getDescription(entry)
---

<Layout title={title} description={description}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{entry.data.title}</Fragment>
    <div slot="subtitle" class="flex flex-wrap gap-2">
      <div>
        <span>#{entry.data.no}</span><span class="i-lucide-dot" /><span>{format(entry.data.created, "PP")}</span>
      </div>
      {entry.data.draft && <DraftTag />}
      {entry.data.tags?.map(tag => (
        <Tag href={`/blog/tags/${tag.slug}`}>{tag.display}</Tag>
      ))}
    </div>
  </PageTitle>

  <!-- Content -->
  <Content />

  <!-- Links to next and previous posts -->
  {(next || previous) && (
    <div class="grid grid-cols-2 mt-16">
      {next && (
        <div class:list={["col-start-1 pr-4 text-neutral-500 dark:text-neutral-400", !previous && "border-r border-neutral-200 dark:border-neutral-700"]}>
          <div class="text-sm">
            <span>{format(next.data.created, "PP")}</span><span class="i-lucide-dot" /><span>#{next.data.no}</span>
          </div>
          <Link href={`/blog/${next.id}`} class="block mt-1">{next.data.title}</Link>
        </div>
      )}
      {previous && (
        <div class="col-start-2 pl-4 border-l border-neutral-200 dark:border-neutral-700 text-right text-neutral-500 dark:text-neutral-400">
          <div class="text-sm">
            <span>#{previous.data.no}</span><span class="i-lucide-dot" /><span>{format(previous.data.created, "PP")}</span>
          </div>
          <Link href={`/blog/${previous.id}`} class="mt-1">{previous.data.title}</Link>
        </div>
      )}
    </div>
  )}
</Layout>
