---
import { Image } from "astro:assets"

import Section from "@zlliang/theme/components/Section.astro"
import Link from "@zlliang/theme/components/Link.astro"
import PostList from "@/components/PostList.astro"
import SearchForm from "@/components/SearchForm.astro"

import { notes, tags, posts, pinnedPosts } from "@/utils/content"
import { types } from "@/utils/types"

import { cn } from "@zlliang/theme"

import logoTech from "@/assets/images/logo-tech.png"

interface Props {
  showSearch?: boolean
  showRecentPosts?: boolean
  class?: string
}

const { showSearch = true, showRecentPosts = true, class: className } = Astro.props
const recentPosts = posts.slice(0, 10)
---

<aside class={cn("space-y-6", className)}>
  {showSearch && <SearchForm class="hidden sm:flex mb-6" />}

  <!-- Prefix -->
  <slot name="prefix" />

  <!-- Pinned posts -->
  {pinnedPosts.length > 0 && (
    <Section title="置顶文章">
      <PostList posts={pinnedPosts} />
    </Section>
  )}

  <!-- Recent posts -->
  {showRecentPosts && recentPosts.length > 0 && (
    <Section title="近期文章">
      <PostList posts={recentPosts} />
    </Section>
  )}

  <!-- Archive -->
  <Section title="全部内容">
    <div class="flex justify-between items-center mb-1">
      <Link href="/notes"><span class="icon-[lucide--notebook-pen]" /> 手记</Link>
      <span class="text-sm text-neutral-500">{notes.length} 则</span>
    </div>
    <div class="flex justify-between items-center mb-1">
      <span><span class="mr-2 font-mono text-neutral-500">├</span><Link href="/notes/types"><span class="icon-[lucide--folder-open]" /> 分类</Link></span>
      <span class="text-sm text-neutral-500">{types.length} 个</span>
    </div>
    <div class="flex justify-between items-center mb-1">
      <span><span class="mr-2 font-mono text-neutral-500">└</span><Link href="/notes/tags"><span class="icon-[lucide--tag]" /> 标签</Link></span>
      <span class="text-sm text-neutral-500">{tags.length} 个</span>
    </div>
    <div class="flex justify-between items-center">
      <Link href="/posts"><span class="icon-[lucide--book-open-text]" /> 文章</Link>
      <span class="text-sm text-neutral-500">{posts.length} 篇</span>
    </div>
  </Section>

  <!-- Other websites -->
  <Section title="我的另一面">
    <Link href="https://tech.zlliang.me" class="group secondary flex gap-4 p-4 border border-neutral-200 dark:border-neutral-800 hover:border-tech-200 dark:hover:border-tech-800 hover:bg-tech-50 dark:hover:bg-tech-950 hover:text-tech-500!">
      <Image src={logoTech} alt="tech.zlliang.me 的图标" class="size-8" loading="eager" />
      <div class="flex-1">
        <div><span class="font-bold">子龙的技术笔记</span> (英文)</div>
        <div class="text-sm text-neutral-500 group-hover:text-tech-400 dark:group-hover:text-tech-600">tech.zlliang.me</div>
        <div class="mt-2 text-sm">我的技术学习和研究</div>
      </div>
    </Link>
  </Section>

  <!-- Suffix -->
  <slot name="suffix" />
</aside>
