---
import { getEntry, render } from "astro:content"
import { format } from "date-fns"

import Link from "@/components/Link.astro"

import { getCategoryDisplay } from "@/utils/content"

import type { CollectionEntry } from "astro:content"

interface Props {
  note: CollectionEntry<"notes">
  showLink?: boolean
}

const { note, showLink = true } = Astro.props
const { Content } = await render(note)
const post = note.data.post ? await getEntry(note.data.post) : null
---

<div>
  <!-- Link to the post -->
  {post && <p><Link href={`/posts/${post.id}`} class="font-bold">{post.data.title}</Link></p>}

  <!-- Content -->
  <div class="mb-4">
    <Content />
  </div>

  <!-- Category and tags -->
  <div class="mb-1 text-xs text-neutral-500">
    <Link href={`/notes/categories/${note.data.category}`} class="font-bold">{getCategoryDisplay(note.data.category)}</Link>{note.data.tags && note.data.tags.length > 0 && <span class="text-neutral-500">; </span>}
    {note.data.tags?.map((tag, index) => <Fragment><Link href={`/notes/tags/${tag.slug}`}>{tag.display}</Link>{index !== note.data.tags!.length - 1 && <span>, </span>}</Fragment>)}
  </div>

  <!-- Link and date -->
  <div class="flex justify-between items-center gap-2">
    <div class="flex items-center text-sm text-neutral-500">
      {showLink ? <Link href={`/notes/${note.id}`} class="font-mono">#days{note.data.no}</Link> : <span class="font-mono">#days{note.data.no}</span>}
      <span class="icon-[lucide--dot]" />
      <span>{format(note.data.created, "yyyy 年 M 月 d 日")}</span>
      {note.data.draft && <span class="ml-2 text-amber-600 dark:text-amber-400">草稿</span>}
    </div>
    {post && <Link href={`/posts/${post.id}`} class="text-sm">阅读全文 <span class="icon-[lucide--arrow-right] translate-y-px" /></Link>}
  </div>
</div>
