---
import { Image } from "astro:assets"

import Section from "@/components/Section.astro"
import Link from "@/components/Link.astro"
import PostList from "@/components/PostList.astro"

import { notes, categories, tags, posts } from "@/utils/content"

import { cn } from "@/utils/style"

import logoDays from "@/assets/images/logo-days.png"

interface Props {
  showRecentPosts?: boolean
  class?: string
}

const { showRecentPosts = true, class: className } = Astro.props
const recentPosts = posts.slice(0, 10)
---

<aside class={cn("space-y-6", className)}>
  <!-- Prefix -->
  <slot name="prefix" />

  <!-- Recent posts -->
  {showRecentPosts && recentPosts.length > 0 && (
    <Section title="Recent posts">
      <PostList posts={recentPosts} />
    </Section>
  )}

  <!-- Archive -->
  <Section title="Archive">
    <div class="flex justify-between items-center mb-1">
      <Link href="/notes"><span class="icon-[lucide--notebook-pen]" /> Notes</Link>
      <span class="text-sm text-neutral-500">{notes.length} in total</span>
    </div>
    <div class="flex justify-between items-center mb-1">
      <span><span class="mr-2 font-mono text-neutral-500">├</span><Link href="/notes/categories"><span class="icon-[lucide--folder-open]" /> Categories</Link></span>
      <span class="text-sm text-neutral-500">{categories.length} in total</span>
    </div>
    <div class="flex justify-between items-center mb-1">
      <span><span class="mr-2 font-mono text-neutral-500">└</span><Link href="/notes/tags"><span class="icon-[lucide--tag]" /> Tags</Link></span>
      <span class="text-sm text-neutral-500">{tags.length} in total</span>
    </div>
    <div class="flex justify-between items-center">
      <Link href="/posts"><span class="icon-[lucide--book-open-text]" /> Posts</Link>
      <span class="text-sm text-neutral-500">{posts.length} in total</span>
    </div>
  </Section>

  <!-- Other websites -->
  <Section title="The other side of me">
    <Link href="https://days.zlliang.me" class="group secondary flex gap-4 p-4 border border-neutral-200 dark:border-neutral-800 hover:border-days-200 dark:hover:border-days-800 hover:bg-days-50 dark:hover:bg-days-950 hover:text-days-500!">
      <Image src={logoDays} alt="Logo of days.zlliang.me" class="size-8" loading="eager" />
      <div class="flex-1">
        <div><span class="font-bold">Zilong's Days</span> (Chinese)</div>
        <div class="text-sm text-neutral-400 dark:text-neutral-600 group-hover:text-days-400 dark:group-hover:text-days-600">days.zlliang.me</div>
        <div class="mt-2 text-sm">My daily life and reflections</div>
      </div>
    </Link>
  </Section>

  <!-- Suffix -->
  <slot name="suffix" />
</aside>
