---
import { Image } from "astro:assets"

import Section from "@zlliang/theme/components/Section.astro"
import Link from "@zlliang/theme/components/Link.astro"
import PostList from "@/components/PostList.astro"
import SearchForm from "@/components/SearchForm.astro"

import { notes, posts, pinnedPosts } from "@/utils/content"
import { types } from "@/utils/types"

import { cn } from "@zlliang/theme"

import logoDays from "@/assets/images/logo-days.png"

interface Props {
  showSearch?: boolean
  showRecentPosts?: boolean
  class?: string
}

const { showSearch = true, showRecentPosts = true, class: className } = Astro.props
const recentPosts = posts.slice(0, 10)
---

<aside class={cn("space-y-6", className)}>
  {showSearch && <SearchForm class="hidden lg:flex mb-6" />}

  <!-- Prefix -->
  <slot name="prefix" />

  <!-- Explore -->
  <Section title="Explore">
    <div class="flex justify-between items-center mb-1">
      <Link href="/notes"><span class="icon-[lucide--notebook-pen]" /> Notes</Link>
      <span class="text-sm text-neutral-500">
        {notes.length} total<span class="icon-[lucide--dot]" /><Link href="/notes/types">{types.length} types</Link>
      </span>
    </div>
    <div class="flex justify-between items-center">
      <Link href="/posts"><span class="icon-[lucide--book-open-text]" /> Posts</Link>
      <span class="text-sm text-neutral-500">{posts.length} total</span>
    </div>
  </Section>

  <!-- Pinned posts -->
  {pinnedPosts.length > 0 && (
    <Section title="Pinned posts">
      <PostList posts={pinnedPosts} showMeta={false} />
    </Section>
  )}

  <!-- Recent posts -->
  {showRecentPosts && recentPosts.length > 0 && (
    <Section title="Recent posts">
      <PostList posts={recentPosts} />
    </Section>
  )}

  <!-- Other websites -->
  <Section title="The other side of me">
    <Link href="https://days.zlliang.me" class="group secondary flex gap-4 p-4 border border-neutral-200 dark:border-neutral-800 hover:border-days-200 dark:hover:border-days-800 hover:bg-days-50 dark:hover:bg-days-950 hover:text-days-500!">
      <Image src={logoDays} alt="Logo of days.zlliang.me" class="size-8" loading="eager" />
      <div class="flex-1">
        <div><span class="font-bold">Zilong's Days</span> (Chinese)</div>
        <div class="text-sm text-neutral-500 group-hover:text-days-400 dark:group-hover:text-days-600">days.zlliang.me</div>
        <div class="mt-2 text-sm">My daily life and reflections</div>
      </div>
    </Link>
  </Section>

  <!-- Suffix -->
  <slot name="suffix" />
</aside>
