---
import { getEntry, render } from "astro:content"
import { format } from "date-fns"

import Link from "@zlliang/theme/components/Link.astro"

import { types } from "@/utils/types"

import type { CollectionEntry } from "astro:content"

interface Props {
  note: CollectionEntry<"notes">
  showLink?: boolean
}

const { note, showLink = true } = Astro.props
const { Content } = await render(note)
const post = note.data.post ? await getEntry(note.data.post) : null
const type = types.find((item) => item.slug === note.data.type)!
---

<div>
  <!-- Link to the post -->
  {post && <p><Link href={`/posts/${post.id}`} class="font-bold">{post.data.title}</Link></p>}

  <!-- Content -->
  <div class="mb-4">
    <Content />
  </div>

  <!-- Metadata -->
  <div class="flex justify-between items-center gap-2">
    <div class="flex items-center text-sm text-neutral-500">
      {showLink ? <Link href={`/notes/${note.id}`}>#{note.data.no}</Link> : <span>#{note.data.no}</span>}
      <span class="icon-[lucide--dot]" />
      <Link href={`/notes/types/${note.data.type}`}>{type.display}</Link>
      <span class="icon-[lucide--dot]" />
      <span>{format(note.data.created, "PP")}</span>
      {note.data.draft && <span class="ml-2 text-amber-600 dark:text-amber-400">Draft</span>}
    </div>
    {post && <Link href={`/posts/${post.id}`} class="text-sm">Read the full post <span class="icon-[lucide--arrow-right] translate-y-px" /></Link>}
  </div>
</div>
