---
import { getSeriesById } from "@/utils/content"
import { cn } from "@zlliang/theme"

import type { CollectionEntry } from "astro:content"

interface Props {
  post: CollectionEntry<"posts">
  current?: boolean
  showSeries?: boolean
  class?: string
}

const { post, current = false, showSeries = true, class: className } = Astro.props
const seriesRef = post.data.series as { id: string } | undefined
const series = seriesRef ? await getSeriesById(seriesRef.id) : null
---

<div class={cn(className)}>
  {series && showSeries && <span><a href={`/posts/series/${series.id}`}>{series.data.title}</a><span class="font-bold text-neutral-500"> / </span></span>}
  {current ? <span>{post.data.title}</span> : <a href={`/posts/${post.id}`}>{post.data.title}</a>}
</div>
