---
import { getMeals, formatDate } from '@/utils/meals'

import Layout from '@/layouts/Layout.astro'
import PageTitle from '@/components/PageTitle.astro'
import Section from '@/components/Section.astro'

export const prerender = false

const groups = await getMeals()
---

<Layout title="一日三餐">
  <!-- Title -->
  <PageTitle>
    <span>一日三餐</span>
    <span slot="sub-title">认真吃饭的每一天</span>
  </PageTitle>

  <!-- Meals -->
  {groups.map(({ date, meals }) => (
    <Section>
			<span slot="title" set:html={formatDate(date)} />
      <div class="space-y-2">
        {meals.map((item) => (
          <div class="flex gap-2">
            <img src={item.image} alt={item.name} loading="lazy" class="w-[10rem] sm:w-[15rem] min-h-[7.5rem] sm:min-h-[11.25rem]" />
            <div class="flex-1">
              <div class="text-sm text-slate-500">{item.type}{item.source && <Fragment><span class="i-lucide-dot" />{item.source}</Fragment>}{item.price && <Fragment><span class="i-lucide-dot" />{`¥${item.price.toFixed(2)}`}</Fragment>}</div>
              <div><strong>{item.name}</strong></div>
              {item.description && <div class="mt-2 text-sm">{item.description}</div>}
            </div>
          </div>
        ))}
      </div>
		</Section>
  ))}
</Layout>

<script is:inline type="module">
import mediumZoom from 'https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/+esm'
mediumZoom('main img', { background: '#fffd' })
</script>
