---
import Section from "@zlliang/theme/components/Section.astro"
import MuseCard from "@zlliang/theme/components/MuseCard.astro"
import PostList from "@/components/PostList.astro"
import SearchForm from "@/components/SearchForm.astro"
import Heatmap from "@/components/Heatmap.astro"

import { getNotes, getPosts, getPinnedPosts, getSeries } from "@/utils/content"
import { types } from "@/utils/types"

import { cn } from "@zlliang/theme"

interface Props {
  showSearch?: boolean
  showRecentPosts?: boolean
  class?: string
}

const { showSearch = true, showRecentPosts = true, class: className } = Astro.props
const notes = await getNotes()
const posts = await getPosts()
const pinnedPosts = await getPinnedPosts()
const recentPosts = posts.slice(0, 10)
const series = await getSeries()
---

<aside class={cn("space-y-6", className)}>
  {showSearch && <SearchForm class="hidden lg:flex mb-6" />}

  {/* Prefix */}
  <slot name="prefix" />

  {/* Explore */}
  <Section title="Explore">
    <div class="flex justify-between items-center mb-1">
      <a href="/notes"><span class="icon-[lucide--notebook-pen]" /> Notes</a>
      <span class="text-sm text-neutral-500">
        <span>{notes.length} total</span><span class="icon-[lucide--dot]" /><a href="/notes/types">{types.length} types</a>
      </span>
    </div>
    <div class="flex justify-between items-center">
      <a href="/posts"><span class="icon-[lucide--book-open-text]" /> Posts</a>
      <span class="text-sm text-neutral-500">
        <span>{posts.length} total</span><span class="icon-[lucide--dot]" /><a href="/posts/series">{series.length} series</a>
      </span>
    </div>
    <Heatmap />
  </Section>

  {/* Pinned posts */}
  {pinnedPosts.length > 0 && (
    <Section title="Pinned posts">
      <PostList posts={pinnedPosts} showMeta={false} />
    </Section>
  )}

  {/* Recent posts */}
  {showRecentPosts && recentPosts.length > 0 && (
    <Section title="Recent posts">
      <PostList posts={recentPosts} />
    </Section>
  )}

  {/* Other websites */}
  <Section title="The other side of me">
    <MuseCard lang="en" />
  </Section>

  {/* Suffix */}
  <slot name="suffix" />
</aside>
