---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import NoteList from "@/components/NoteList.astro"

import { notes } from "@/utils/content"
import { NOTES_PER_PAGE } from "@/utils/site"

import type { GetStaticPaths } from "astro"

export const getStaticPaths = (({ paginate }) => paginate(notes, { pageSize: NOTES_PER_PAGE })) satisfies GetStaticPaths

const { page } = Astro.props

const title = "手记"
---

<Layout title={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">共 {notes.length} 则</span>
  </PageTitle>

  <!-- Notes -->
  {page.data.length > 0 ? <NoteList notes={page.data} page={page} /> : <p class="text-neutral-500">没有找到手记。</p>}
</Layout>
  
