---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import Link from "@/components/Link.astro"

import { notes, tags } from "@/utils/content"

const title = "Note Tags"

function getTagCount(slug: string) {
  return notes.filter((note) => note.data.tags?.some((t) => t.slug === slug)).length
}
---

<Layout title={title} description={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">{tags.length} in total</span>
  </PageTitle>

  <!-- Tags -->
  {tags?.length > 0 ? tags.map((tag) => (
    <div class="mb-1">
      <Link href={`/notes/tags/${tag.slug}`}>{tag.display} ({getTagCount(tag.slug)})</Link>
    </div>
  )) : <p class="text-neutral-500">No tags found.</p>}
</Layout>
