---
import Layout from "@zlliang/theme/components/Layout.astro"
import Section from "@zlliang/theme/components/Section.astro"
import SiteCard from "@zlliang/theme/components/SiteCard.astro"

import { renderFragment } from "@/utils/content"
import { parseLocale } from "@/i18n"
import { locales, t } from "@/utils/i18n"

import logo from "@/assets/logo.png"

const { locale: localeSegment } = Astro.params
const locale = parseLocale(localeSegment)
if (!locale) {
  return Astro.rewrite("/404")
}

const Bio = await renderFragment(`${locale}/bio`)
---

<Layout
  locale={locale}
  alternateLocales={locales.map((code) => ({ code, href: `/${code}/` }))}
  logo={logo}
  siteTitle={t(locale, "site.title")}
  homeHref={`/${locale}/`}
  aside={false}
>
  <Fragment slot="header-end">
    {locales.filter((l) => l !== locale).map((l) => <a href={`/${l}/`}><span class="icon-[lucide--languages]" /> {t(l, "desc")}</a>)}
  </Fragment>

  <div class="mb-12">
    <Bio />
  </div>

  <Section title={t(locale, "journals")}>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <SiteCard site="mesh" locale={locale} />
      <SiteCard site="muse" locale={locale} />
    </div>
  </Section>
</Layout>
