---
import VercelWebAnalytics from "@vercel/analytics/astro"
import VercelSpeedInsights from "@vercel/speed-insights/astro"

import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
import Aside from "@/components/Aside.astro"

import { getTitle, siteTitle } from "@/utils/site"

import "@fontsource-variable/public-sans"
import "@fontsource-variable/public-sans/wght-italic.css"
import publicSansWoff2 from "@fontsource-variable/public-sans/files/public-sans-latin-wght-normal.woff2?url"

import "@fontsource-variable/roboto-mono"
import "@fontsource-variable/roboto-mono/wght-italic.css"
import robotoMonoWoff2 from "@fontsource-variable/roboto-mono/files/roboto-mono-latin-wght-normal.woff2?url"

import "@/styles/main.css"

interface Props {
  title?: string
  description?: string
}

const title = getTitle(Astro.props.title)
const description = Astro.props.description
const url = new URL(Astro.url.pathname, Astro.site)
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

  <!-- Fonts -->
  <link rel="preload" as="font" type="font/woff2" href={publicSansWoff2} crossorigin="anonymous" />
  <link rel="preload" as="font" type="font/woff2" href={robotoMonoWoff2} crossorigin="anonymous" />

  <!-- SEO, OpenGraph and Twitter -->
  <link rel="canonical" href={url} />
  {Boolean(description) && <meta name="description" content={description} />}
  <meta property="og:site_name" content={siteTitle} />
  <meta property="og:url" content={url} />
  <meta property="og:title" content={title} />
  {Boolean(description) && <meta property="og:description" content={description} />}
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content={title} />
  {Boolean(description) && <meta name="twitter:description" content={description} />}
  <meta name="twitter:creator" content="@zlliang96" />

  <!-- Title -->
  <title>{title}</title>
</head>
<body>
  <div class="flex flex-col min-h-dvh max-w-3xl lg:max-w-6xl m-auto px-6">
    <Header />
    <div class="flex-1 lg:flex gap-12">
      <main class="flex-1">
        <slot />
      </main>
      <Aside class="mt-16 lg:mt-0 lg:shrink-0 lg:w-80">
        <Fragment slot="prefix"><slot name="aside-prefix" /></Fragment>
        <Fragment slot="suffix"><slot name="aside-suffix" /></Fragment>
      </Aside>
    </div>
    <Footer />
  </div>

  <!-- Vercel -->
  <VercelWebAnalytics />
  <VercelSpeedInsights />
</body>
</html>
