---
import { getEntry, render } from "astro:content"

import Link from "@/components/Link.astro"

import { createI18n } from "@/utils/i18n"

import type { CollectionEntry } from "astro:content"
import type { Lang } from "@/utils/i18n"

interface Props {
  note: CollectionEntry<"notes">
  showLink?: boolean
  lang?: Lang
}

const { note, showLink = true, lang = "en" } = Astro.props
const { Content } = await render(note)
const post = note.data.post ? await getEntry(note.data.post) : null

const t = createI18n(lang)
---

<div>
  <!-- Link to the post -->
  {post && <p><Link href={`/posts/${post.id}`} class="font-bold">{post.data.title}</Link></p>}

  <!-- Content -->
  <div class="mb-4">
    <Content />
  </div>

  <!-- Category and tags -->
  <div class="mb-1 text-xs text-neutral-500">
    <Link href={`/notes/categories/${note.data.category}`} class="font-bold">{t(`notes.categories.${note.data.category}`)}</Link>{note.data.tags && note.data.tags.length > 0 && <span class="text-neutral-500">, </span>}
    {note.data.tags?.map((tag, index) => <Fragment><Link href={`/notes/tags/${tag.slug}`}>{tag.display}</Link>{index !== note.data.tags!.length - 1 && <span>, </span>}</Fragment>)}
  </div>

  <!-- Link and date -->
  <div class="flex justify-between items-center gap-2">
    <div class="flex items-center text-sm text-neutral-500">
      {showLink ? <Link href={`/notes/${note.id}`}>#{note.data.no}</Link> : <span>#{note.data.no}</span>}
      <span class="icon-[lucide--dot]" />
      <span>{t("ui.date", note.data.created)}</span>
      {note.data.draft && <draf class="ml-2 text-amber-600 dark:text-amber-400">{t("ui.draft")}</span>}
    </div>
    {post && <Link href={`/posts/${post.id}`} class="text-sm">{t("notes.readFullPost")} <span class="icon-[lucide--arrow-right] translate-y-px" /></Link>}
  </div>
</div>
