---
import { format } from 'date-fns'
import { groupByYear, getTags } from '@/utils/posts'

import Section from '@/components/Section.astro'
import NewTag from '@/components/NewTag.astro'
import DraftTag from '@/components/DraftTag.astro'
import Link from '@/components/Link.astro'
import Tag from '@/components/Tag.astro'

import type { CollectionEntry } from 'astro:content'

interface Props {
  posts: CollectionEntry<'posts'>[]
	showTags?: boolean
}

const { posts, showTags = true } = Astro.props
const groups = groupByYear(posts)
const tags = getTags(posts)
---

<div>
	<!-- Tags -->
	{showTags && tags.length > 0 && (
		<Section>
			<span slot="title">全部标签</span>
			<div class="flex flex-wrap gap-2">
				{tags.map((tag) => (
					<Tag href={`/posts/tags/${tag}`}>{tag}</Tag>
				))}
			</div>
		</Section> 
	)}

	<!-- Posts -->
	{groups.map(({ year, posts }) => (
		<Section>
			<span slot="title">{year}</span>
			<div>
				{posts.map((post) => (
					<div class="my-1 flex justify-between gap-4">
						<span>
							<Link href={`/posts/${post.id}`}>{post.data.title}</Link>
							{post.data.new && <NewTag class="ml-1" />}
							{post.data.draft && <DraftTag class="ml-1" />}
						</span>
						<span class="shrink-0 w-fit text-slate-500">
							{showTags && post.data.tags && post.data.tags.length > 0 && (
								<span class="inline-flex gap-2 mr-1">
									{post.data.tags.map((tag) => (
										<Tag href={`/posts/tags/${tag}`}>{tag}</Tag>
									))}
								</span>
							)}
							<span>{format(post.data.created, 'M 月 d 日')}</span>
						</span>
					</div>
				))}
			</div>
		</Section>
	))}
</div>
