---
import Link from "@/components/Link.astro"
import TagList from "@/components/TagList.astro"
import Tag from "@/components/Tag.astro"
import DraftTag from "@/components/DraftTag.astro"

import { format } from "@/utils/date"

import type { CollectionEntry } from "astro:content"

interface Props {
  entry: CollectionEntry<"entries">
}

const { entry } = Astro.props
---

<div class="space-y-4">
  <div class="flex justify-between gap-4">
    <Link href={`/blog/${entry.id}`} class="font-bold">{entry.data.title}</Link>
    <span class="shrink-0 w-fit text-neutral-500 dark:text-neutral-400">
      <span>#{entry.data.no}</span><span class="icon-[lucide--dot]" /><span>{format(entry.data.created, "PP")}</span>
    </span>
  </div>

  {entry.data.description && <div>{entry.data.description}</div>}

  <TagList>
    {entry.data.tags && entry.data.tags.length > 0 && (
      <Fragment>
        {entry.data.draft && <DraftTag />}
      </Fragment>
      <Fragment>
        {entry.data.tags.slice(0, 3).map(tag => <Tag href={`/blog/tags/${tag.slug}`}>{tag.display}</Tag>)}
      </Fragment>
      <Fragment>
        {entry.data.tags.length > 3 && <Tag>+{entry.data.tags.length - 3}</Tag>}
      </Fragment>
    )}
  </TagList>

  <div>
    <Link href={`/blog/${entry.id}`}>Read more <span class="icon-[lucide--arrow-right]" /></Link>
  </div>
</div>
