---
import PageTitle from "@zlliang/theme/components/PageTitle.astro"
import Layout from "@/components/Layout.astro"
import NoteList from "@/components/NoteList.astro"

import { notes } from "@/utils/content"
import { types, getTypeDisplay } from "@/utils/types"
import { NOTES_PER_PAGE } from "@/utils/site"

import type { GetStaticPaths } from "astro"

export const getStaticPaths = (({ paginate }) => types.flatMap((type) => {
  const filteredNotes = notes.filter((note) => note.data.type === type)
  return paginate(filteredNotes, { params: { type }, pageSize: NOTES_PER_PAGE })
})) satisfies GetStaticPaths

const { type } = Astro.params
const { page } = Astro.props

const title = `${getTypeDisplay(type)} Notes`
---

<Layout title={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <Fragment slot="subtitle">
      <span>{page.total}</span>
      <span>{page.total >= 2 ? "notes" : "note"} in total</span>
    </Fragment>
  </PageTitle>

  <!-- Notes -->
  {page.data.length > 0 ? <NoteList notes={page.data} page={page} /> : <p class="text-neutral-500">No notes found.</p>}
</Layout>
