---
import PageTitle from "@zlliang/theme/components/PageTitle.astro"
import Link from "@zlliang/theme/components/Link.astro"
import Layout from "@/components/Layout.astro"
import NoteList from "@/components/NoteList.astro"

import { getNotes } from "@/utils/content"
import { paginate, parsePageParam, shouldRedirectPagination } from "@/utils/pagination"
import { isNoteType, types } from "@/utils/types"

const { type: slug } = Astro.params
if (!slug || !isNoteType(slug)) {
  return Astro.rewrite("/404")
}

const notes = await getNotes()
const filteredNotes = notes.filter((note) => note.data.type === slug)
const type = types.find((item) => item.slug === slug)!

const searchParams = Astro.url.searchParams
const page = parsePageParam(searchParams.get("page"))

function getPageUrl(page: number) {
  const params = new URLSearchParams()

  if (page > 1) {
    params.set("page", page.toString())
  }

  return params.size > 0 ? `/notes/types/${slug}?${params}` : `/notes/types/${slug}`
}

const pagination = paginate(filteredNotes, page, getPageUrl)
if (shouldRedirectPagination(searchParams, page, pagination)) {
  return Astro.redirect(pagination.url.current)
}

const title = `${type.display}手记`
---

<Layout title={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <div slot="subtitle" class="space-y-1">
      <div>{type.description}</div>
      <div class="flex justify-between">
        <div>共 {pagination.total} 则</div>
        <Link href="/notes/types"><span class="icon-[lucide--corner-left-up]" /> 返回全部分类</div>
      </div>
    </div>
  </PageTitle>

  <!-- Notes -->
  {pagination.data.length > 0 ? <NoteList notes={pagination.data} pagination={pagination} /> : <p class="text-neutral-500">暂无手记。</p>}
</Layout>
