---
import PageTitle from "@zlliang/theme/components/PageTitle.astro"
import Link from "@zlliang/theme/components/Link.astro"
import Layout from "@/components/Layout.astro"
import PostList from "@/components/PostList.astro"

import { getPosts, getSeries, getSeriesById, filterPostsInSeries } from "@/utils/content"

const { series: slug } = Astro.params
if (!slug || !(await getSeries()).some((series) => series.id === slug)) {
  return Astro.rewrite("/404")
}

const series = (await getSeriesById(slug))!
const posts = filterPostsInSeries(await getPosts(), series.id)
---

<Layout title={series.data.title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{series.data.title}</Fragment>
    <div slot="subtitle" class="space-y-1">
      <div>系列文章共 {posts.length} 篇</div>
      <div class="flex justify-between">
        <div>文章按时间顺序排列</div>
        <Link href="/posts/series"><span class="icon-[lucide--corner-left-up]" /> 返回全部系列</div>
      </div>
    </div>
  </PageTitle>

  <!-- Posts -->
  {posts.length > 0 ? <PostList posts={posts} showSeries={false} /> : <p class="text-neutral-500">暂无文章。</p>}
</Layout>
