---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import PostList from "@/components/PostList.astro"

import { posts } from "@/utils/content"

const title = "文章"
---

<Layout title={title} showRecentPosts={false}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">共 {posts.length} 篇</span>
  </PageTitle>

  <!-- Posts -->
  {posts.length > 0 ? <PostList posts={posts} /> : <p class="text-neutral-500">暂无文章。</p>}
</Layout>
