---
import PageTitle from "@zlliang/theme/components/PageTitle.astro"
import Layout from "@/components/Layout.astro"
import PostList from "@/components/PostList.astro"

import { getPosts, getSeries, filterPostsInSeries } from "@/utils/content"

const series = await getSeries()
const posts = await getPosts()
const title = "系列"
---

<Layout title={title} showRecentPosts={false}>
  {/* Title */}
  <PageTitle>
    <Fragment>{title}</Fragment>
    <div slot="subtitle" class="space-y-1">
      <div>共 {series.length} 个</div>
      <div class="flex justify-between gap-4">
        <span>文章按时间顺序排列</span>
        <a href="/posts"><span class="icon-[lucide--corner-left-up]" /> 返回全部文章</a>
      </div>
    </div>
  </PageTitle>

  {/* Series */}
  {series.length > 0 ? series.map((series) => (
    <h2><a href={`/posts/series/${series.id}`}>{series.data.title}</a></h2>
    <Fragment>{series.data.description && <p>{series.data.description}</p>}</Fragment>
    <Fragment>{filterPostsInSeries(posts, series.id).length > 0 ? <PostList posts={filterPostsInSeries(posts, series.id)} showSeries={false} /> : <p class="text-neutral-500">暂无文章。</p>}</Fragment>
  )) : <p class="text-neutral-500">暂无系列。</p>}
</Layout>
