---
import { ClientRouter } from 'astro:transitions'

import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro'

import '@/styles/main.css'

interface Props {
  title?: string
}

const siteTitle = '子龙的笔记本'
const title = Astro.props.title ? `${Astro.props.title} - ${siteTitle}` : siteTitle
---

<!DOCTYPE html>
<html lang="zh-CN" transition:animate="none">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

  <!-- Router -->
  <ClientRouter />

  <!-- Vercel -->
  <Analytics />
  <SpeedInsights />

  <!-- Open Graph -->
  <meta property="og:site_name" content={siteTitle} />
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />

  <!-- Title -->
  <title>{title}</title>
</head>
<body>
  <div class="m-auto px-6 max-w-3xl">
    <!-- Header -->
    <header class="flex justify-between items-center my-6">
      <a href="/" class="flex items-center gap-2 text-slate-900 hover:text-slate-900">
        <img src="/logo.png" alt="logo" class="w-6 h-6" />
        <strong>{siteTitle}</strong>
      </a>
      <a href="/">首页</a>
    </header>

    <!-- Main -->
    <main class="my-8">
      <slot />
    </main>

    <!-- Footer -->
    <footer class="mt-32 mb-32 pt-2 border-t border-slate-200 text-sm text-center text-slate-400">
      <span class="i-lucide-copyright scale-90 translate-y-[0.5px]" />
      <span>2025</span>
      <span class="i-lucide-dot" />
      <span>梁子龙</span>
      <span class="i-lucide-dot" />
      <span>使用 <a href="https://astro.build" class="text-slate-400">Astro</a> 构建</span>
    </footer>
  </div>
</body>
</html>
